
.testPage-body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testPage-section{
    height: 100%;
    width: 100%;

}

.testPage-container{
    height: 105vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: -1rem;
    padding: 15px 0;
    overflow: hidden;
}

.test-cntnt1{
    background-color: #f4f6f7;
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.test-cntnt1-btn{
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.test-cntnt1-btn button{
    /* background-color: rgba(0, 255, 128, 0.462); */
    background-color: var(--bg-color);
    height: 7vh;
    width: 9vw;
    border: 10px solid transparent;
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.test-cntnt1-btn button:hover{
   opacity: .8;
   cursor: pointer;
}

.test-cntnt1-btnR{
    background-image: url(../../images/iconImages/arrowR.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vh;
    width: 5vw;
    transition: all 0.3s ease-in;
}

.test-cntnt1-btnR:hover{
    transform: scale(1.40);
}

.test-cntnt2{
    height: 90vh;
    width: 100%;
    position: relative;
    top: -.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.finalScore-card{
    /* background-color: rgba(39, 209, 152, 0.267); */
    background: linear-gradient(rgba(20, 206, 51, 0.408), rgba(255, 255, 255, 0.466));
    height: 55vh;
    width: 55vw;
    display: grid;
    grid-template-rows: repeat(3);
    align-items: center;
    justify-content: center;
}

.finalScore-card h1{
    margin: 0 100px;
    color: white;
    font-size: 40px;
    text-decoration: double underline;
}

.finalScore-card h2{
    margin: 0 20px;
    color: white;
    font-size: 40px;
}

.finalScore-card button{
    background-color: #d5d8dcf8;
    height: 10vh;
    width: 13vw;
    border-radius: 7px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
}

.finalScore-card button:hover{
  opacity: .8;
  cursor: pointer;
}

.finalScore-card button span{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.testPrntCard{
    height: 90vh;
    width: 100%;
    position: relative;
    top: -1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly; 
}

.test-cntnt2-chld1{
    height: 100%;
    width: 45vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.testCnt2-chld1-cnt{
    position: relative;
    width: 40vw;
    height: 75vh;
    border: 10px solid transparent;
    border-radius: 0.4em;  
}

.testCnt2-chld1-cnt h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: rgba(39, 209, 152, 0.816);
    font-size: 40px;
    font-weight: 700;
}

.testCnt2-chld1-cnt h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: rgba(39, 209, 152, 0.816);
    font-size: 40px;
    font-weight: 700;
}

.testCnt2-chld1-cnt::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, springgreen, seagreen);
   border: inherit;
   border-radius: inherit;
   mask:  linear-gradient(white, white) padding-box,
          linear-gradient(white, white); 
          mask-composite: exclude;
}

.test-cntnt2-chld2{
    height: 100%;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testCnt3-chld2-cnt{
    position: relative;
    width: 40vw;
    height: 75vh;
    border: 10px solid transparent;
    border-radius: 0.4em; 
}

.testCnt3-chld2-cnt h2{
    color: rgba(39, 209, 152, 0.816);
    font-size: 35px;
    font-weight: 700;
    position: relative;
    top: 15px;
    left: 130px;
}

.testCnt3-chld2-cnt ul{
  list-style: none; 
  position: relative;
  top: 8px;
  left: -9px;
}

.testCnt3-chld2-cnt li{
  background-color: #d5d8dcf8;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 37px;
  margin-top: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
  transition: all 0.2s ease-in;
  color: rgba(39, 209, 152, 0.816);
  font-weight: 700;
  text-transform: uppercase;
}

.testCnt3-chld2-cnt li:hover{
  transform: scale(1.05);
  cursor: pointer;
  opacity: .8;
}

.testCnt3-chld2-cnt::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, springgreen, seagreen);
    border: inherit;
    border-radius: inherit;
    mask:  linear-gradient(white, white) padding-box,
           linear-gradient(white, white); 
           mask-composite: exclude;
 }

.test-cntnt1-countr{
    width: 7.5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-cntnt1-countr span{
    color: rgba(39, 209, 152, 0.816);
    font-size: 20px;
    font-weight: 700;
}

.test-cntnt1-title{
    height: 6vh;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-cntnt1-title span{
    color: rgba(39, 209, 152, 0.816);
    font-size: 20px;
    font-weight: 700;
}


