body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #37f78d1f;
  --bg2mediumSeaGreen: mediumseagreen;
  --bg3deepEmeraldGreen: #046307;
  --bg4Grey: #F4F6F7;
}

/* Application  Layout */
  .gridSection-layout{
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 8rem 1fr 4rem;
    height: 100%;
  }

 a, h1, h2, span {
   text-decoration: none;
   font-family: "Audiowide", sans-serif;
   color: crimson;
   text-transform: uppercase;
  }

  header{
    grid-area: header;
    overflow: hidden;
  }

  nav{
    grid-area: nav;
    background: linear-gradient(rgba(20, 206, 51, 0.493), rgba(255, 255, 255, 0.466));
  }

  main{
    grid-area: main;
  }

  footer{
    grid-area: footer;
    background: linear-gradient(rgba(20, 206, 51, 0.493), rgba(255, 255, 255, 0.466));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .glass{
    background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

 
