.footer-body{
    height: 100%;
    width: 100%;
}
.footer-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 7px;
}
.footer-icon{
   background-image: url(../../images/iconImages/copy-right-Icon.png);
   background-position: center;
   height: 2.5vh;
   width: 1.3vw;
   background-size: 380% 300%;
   margin-top: 1rem;
}